<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="URL" value="http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22||TICKER||%22)%0A%09%09&format=json&diagnostics=true&env=http%3A%2F%2Fdatatables.org%2Falltables.env"/>
    </appSettings>
</configuration>